<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="MassTransit:ConnectionString" value="%OSDR_RABBIT_MQ%" />
    <add key="MassTransit:PrefetchCount" value="4" />
    <add key="MassTransit:ConcurrencyLimit" value="4" />

    <add key="OsdrConnectionSettings:ConnectionString" value="%OSDR_MONGO_DB%" />
    <add key="OsdrConnectionSettings:DatabaseName" value="osdr_dev" />

    <add key="HeartBeat:TcpPort" value="12060" />
    
    <add key="serilog:minimum-level" value="%OSDR_LOG_LEVEL%" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="%OSDR_LOG_FOLDER%\sds-chemical-validation-standardization-processing-{Date}.log" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [v{SourceSystemInformationalVersion}] {Message}{NewLine}{Exception}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.84" newVersion="3.6.1.84" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GreenPipes" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.103" newVersion="2.0.0.103" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.RabbitMqTransport" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.AutomatonymousIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.Extensions.DependencyInjectionIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.AutofacIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>