<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wiki" type="WikiTools.Access.WikiConfigSection, SDS.Wiki.Access" />
  </configSections>
  <wiki>
    <templateNames>
      <template name="Template:Drugbox" />
      <template name="Template:Chembox" />
      <template name="Template:Infobox drug" />
      <template name="Шаблон:Drugbox" />
      <template name="Шаблон:Лекарственное средство" />
      <template name="Vorlage:Infobox Chemikalie" />
    </templateNames>
    <wikiboxes>
      <infobox type="Template:Chembox">
        <element id="molecular_weight" name="MW" fields="^(?&lt;value&gt;[\d.]+) ?(?&lt;unit&gt;[a-z\/]+)?" />
        <element id="othernames" name="othernames" fields="," split="true" />
      </infobox>
      <infobox type="Template:Drugbox" inherits="Template:Chembox" />
      <infobox type="Template:Infobox drug" inherits="Template:Drugbox" />
    </wikiboxes>
  </wiki>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="mongodb:connection" value="%OSDR_MONGO_DB%" />
    <add key="mongodb:database-name" value="osdr_dev" />

    <add key="RabbitMQ:ConnectionString" value="%OSDR_RABBIT_MQ%" />
    <add key="HeartBeat:TcpPort" value="12040" />
        
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="%OSDR_LOG_FOLDER%\sds-webimporter-pdf-processing-{Date}.log" />
  </appSettings>
  <runtime>
   
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   
        <dependentAssembly>
   
            <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-3.6.1.84" newVersion="3.6.1.84" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.1.0.1426" newVersion="4.1.0.1426" />
   
        </dependentAssembly>
   
    </assemblyBinding>
  </runtime>
</configuration>
