<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="17.11.1" targetFramework="net47" />
  <package id="Aspose.Slides.NET" version="17.11.0" targetFramework="net47" />
  <package id="Aspose.Words" version="17.11" targetFramework="net47" />
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Automatonymous" version="4.1.1" targetFramework="net471" />
  <package id="GreenPipes" version="2.1.1" targetFramework="net471" />
  <package id="MassTransit" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Autofac" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Automatonymous" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Automatonymous.Extensions.DependencyInjection" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Extensions.DependencyInjection" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.RabbitMQ" version="5.1.4" targetFramework="net471" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net47" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net47" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net47" />
  <package id="MongoDB.Driver.GridFS" version="2.4.4" targetFramework="net47" />
  <package id="NewId" version="3.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net47" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net47" />
  <package id="Sds.Domain" version="1.0.3" targetFramework="net47" />
  <package id="Sds.Heartbeat" version="0.9.10" targetFramework="net47" />
  <package id="Sds.MassTransit" version="3.0.2" targetFramework="net471" />
  <package id="Sds.MassTransit.AutofacIntegration" version="3.0.2" targetFramework="net471" />
  <package id="Sds.MassTransit.RabbitMq" version="3.0.4" targetFramework="net471" />
  <package id="Sds.Reflection" version="1.0.3" targetFramework="net47" />
  <package id="Sds.Storage.Blob.Core" version="0.2.3" targetFramework="net47" />
  <package id="Sds.Storage.Blob.GridFS" version="0.2.3" targetFramework="net47" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net47" />
  <package id="Spire.Doc" version="6.0.63" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
  <package id="Topshelf" version="4.0.3" targetFramework="net47" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net47" />
</packages>