<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Indigo.Net" version="1.2.3" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver.GridFS" version="2.4.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net471" />
  <package id="Sds.CdxParser" version="1.0.6" targetFramework="net471" />
  <package id="Sds.FileParser.Domain" version="1.0.1" targetFramework="net471" />
  <package id="Sds.SdfParser" version="1.0.9" targetFramework="net471" />
  <package id="Sds.Storage.Blob.Core" version="0.2.3" targetFramework="net471" />
  <package id="Sds.Storage.Blob.GridFS" version="0.2.3" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
</packages>