<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net47" />
  <package id="AutoFixture.Xunit2" version="3.50.2" targetFramework="net47" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net47" />
  <package id="GreenPipes" version="1.0.10" targetFramework="net47" />
  <package id="MassTransit" version="4.0.0.1265-develop" targetFramework="net47" />
  <package id="NewId" version="3.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net47" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net45" />
</packages>