<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="mongodb:connection" value="%OSDR_MONGO_DB%" />
    <add key="mongodb:database-name" value="osdr_dev" />

	<add key="RabbitMQ:ConnectionString" value="%OSDR_RABBIT_MQ%" />

    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:LiterateConsole" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="%OSDR_LOG_FOLDER%\sds-reaction-file-parser-processing-{Date}.log" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [v{SourceSystemInformationalVersion}] {Message}{NewLine}{Exception}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5968.32611" newVersion="1.1.5968.32611" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5968.32612" newVersion="1.1.5968.32612" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5968.32613" newVersion="1.1.5968.32613" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.RabbitMqTransport" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.Extensions.DependencyInjectionIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.84" newVersion="3.6.1.84" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.AutomatonymousIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit.AutofacIntegration" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.1595" newVersion="5.1.5.1595" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
