<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Automatonymous" version="4.1.1" targetFramework="net471" />
  <package id="Collector.Serilog.Enrichers.Assembly" version="1.0.1" targetFramework="net471" />
  <package id="DnsClient" version="1.0.7" targetFramework="net471" />
  <package id="GreenPipes" version="2.1.1" targetFramework="net471" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net471" />
  <package id="InChINet" version="1.0.2" targetFramework="net471" />
  <package id="Indigo.Net" version="1.2.3" targetFramework="net471" />
  <package id="Indigo.Toolkit" version="1.2.2-beta" targetFramework="net471" />
  <package id="MassTransit" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Autofac" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Automatonymous" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Automatonymous.Extensions.DependencyInjection" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.Extensions.DependencyInjection" version="5.1.4" targetFramework="net471" />
  <package id="MassTransit.RabbitMQ" version="5.1.4" targetFramework="net471" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0-preview1-27673" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0-preview1-27673" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.5.0" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.5.0" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.5.0" targetFramework="net471" />
  <package id="MongoDB.Driver.GridFS" version="2.5.0" targetFramework="net471" />
  <package id="NewId" version="3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net471" />
  <package id="OpenBabelNet" version="1.0.2" targetFramework="net471" />
  <package id="RabbitMQ.Client" version="5.1.0-pre1" targetFramework="net471" />
  <package id="Sds.Domain" version="1.0.3" targetFramework="net471" />
  <package id="Sds.FileParser.Domain" version="1.0.1" targetFramework="net471" />
  <package id="Sds.Heartbeat" version="0.9.10" targetFramework="net471" />
  <package id="Sds.MassTransit" version="3.0.2" targetFramework="net471" />
  <package id="Sds.MassTransit.AutofacIntegration" version="3.0.2" targetFramework="net471" />
  <package id="Sds.MassTransit.RabbitMq" version="3.0.4" targetFramework="net471" />
  <package id="Sds.RdfParser" version="1.0.6" targetFramework="net471" />
  <package id="Sds.Reflection" version="1.0.3" targetFramework="net471" />
  <package id="Sds.Storage.Blob.Core" version="0.2.3" targetFramework="net471" />
  <package id="Sds.Storage.Blob.GridFS" version="0.2.3" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Literate" version="3.0.1-dev-00044" targetFramework="net471" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.4.0-beta-24913-01" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.4.0-beta-24913-01" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
  <package id="Topshelf" version="4.0.3" targetFramework="net471" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net471" />
  <package id="XMLDiffPatch" version="1.0.8.28" targetFramework="net471" />
</packages>